.certificates {
    min-height: 855px;
    background-color: #003665;
    background-repeat: repeat-y;
    padding-top: 53px;
    &.lazyBg {
        background-image: url(./img/star-sky.svg);
    }
    h2 {
        font-size: 70px;
        line-height: 77px;
        text-align: center;
        color: #FFB800;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 24px;
        font-weight: 400;
    }
    .container {
        display: flex;
        .margin(-15px);
    }
    .item {
        .width(12000px, 12, 4, 30px);
        .margin(15px);
        a {

        }
        img {

        }
        .title {
            font-size: 36px;
            line-height: 36px;
            text-align: center;
            color: #FFB800;
            margin-top: 33px;       
        }
    }
}